* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;

}



.hero {
    height: 400px;
    background: #ffcf71;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {

    max-width: 25%;
    border-right: 1px solid #9b9a9a;


}

.logo {
    padding: 20px 60px 20px 30px;

}



.intro p {
    font-size: 24px;
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 20px 60px 20px 30px;
}

.sidebar nav {
    margin-top: 10px;
    border-bottom: 1px solid #c7c5c5;
}

.sidebar ul li {
    padding: 4px 0;
}

.intro-wrapper {
    display: flex;

    flex: 1;
}

.sidebar-footer {
    padding: 20px 60px 20px 30px;



}

.sidebar-footer a {
    color: #333;
    text-decoration: none;
    font-size: 16px;


}

.intro,
.intro-continued {
    flex: 1;
    max-width: 50%;
    padding-bottom: 60px;
    border-bottom: 1px solid #c7c5c5;
    padding: 20px;

}

.intro-continued p {
    font-size: 75px;
    padding-bottom: 50px;
}

.intro-wrapper1 {
    display: flex;

    flex: 1;
}

.intro1,
.intro-continued1 {
    flex: 1;
    max-width: 50%;
    padding-bottom: 60px;
    border-bottom: 1px solid #c7c5c5;
    padding: 60px;

}

.intro-continued1 ul {
    font-size: 30px;
    padding-bottom: 50px;
    list-style: none;

}

.mun {
    color: #4a4842;
}

.intro-wrapper2 {
    display: flex;

    flex: 1;
}

.intro2,
.intro-continued2 {
    flex: 1;
    max-width: 50%;
    padding-bottom: 60px;
    border-bottom: 1px solid #c7c5c5;
    padding: 60px;

}

.intro-continued1 ul {
    font-size: 30px;
    padding-bottom: 50px;
    list-style: none;

}

.intro2 h2 {
    font-size: 48px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 12px;
}

.Partnerships img {
    width: 100%;
    margin-top: 30px;
}

.muun1 {
    font-size: 48px;
    font-weight: 700;
    color: #d9c58b;
}


.intro-continued2 p {
    font-size: 22px;
    margin-bottom: 20px;
}

.intro-continued2 img {
    width: 100%;
    border-radius: 6px;
    margin: 30px 0;
}

.intro3 {
    display: flex;
    flex: 1;
}

.intro-wrapper3 {
    border-bottom: 1px solid #c7c5c5;
    padding-bottom: 60px;
}

.khanh,
.quockhanh {
    flex: 1;
    max-width: 50%;
    padding: 60px;

}

.khanh h2 {
    font-size: 48px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 16px;
}

.muun2 {
    font-size: 48px;
    font-weight: 700;
    color: #d9c58b;
}

.intro-wrapper4 {
    display: flex;
    flex: 1;
    padding: 20px;
}

.intro-lead {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
}

.intro-wrapper3 img {
    width: 100%;
    padding: 30px;
    border-radius: 6px;
}

.intro4,
.intro-continued4 {
    flex: 1;
    max-width: 50%;
    border-bottom: 1px solid #c7c5c5;
    padding: 60px;

}

.sample-grid {
    display: flex;
    flex: 1;
}

.intro-continued4 p {
    font-size: 20px;

}

.sample {
    flex: 1;
    max-width: 25%;
    padding-bottom: 60px;
    padding: 60px;
}

.text {
    padding: 20px 60px 10px 60px;
    font-size: 24px;
}

.text2 {
    padding: 20px;
}

.text2 .e {
    font-size: 20px;
    font-weight: 600;
    color: #2a2927;
    margin-bottom: 6px;
}

.sample strong {
    display: block;
    font-size: 20px;
    margin-bottom: 12px;
    color: #2a2927;
}

.sample p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

.sidebar-btn {
    display: none;
}

.intro-wrapper5 {
    padding: 10px;
}

.logo-boy {
    display: flex;
    flex: 1;

}

.logo1 {
    width: 50%;
    padding: 10px;
}

.logo2 {
    flex: 1;
}

.logo1 h2 {
    font-size: 48px;
    font-weight: 600;
    align-items: center;
    padding: 60px;

}

.numm3 {
    font-size: 48px;
    font-weight: 700;
    color: #d9c58b;
}

.logo2 {
    padding: 60px;

}

.logo2 p {
    font-size: 22px;
    margin-bottom: 20px;
}

.Primary-Lockup {
    margin-top: 10px;

}

.Primary-Lockup p {
    font-size: 24px;

}

.Primary-Lockup img {
    width: 100%;

}

.Clearspace {
    margin-top: 60px;
}

.Clearspace p {
    font-size: 24px;

}

.Clearspace img {
    width: 100%;

}

.Secondary {
    margin-top: 60px;
}

.Secondary p {
    font-size: 30px;
}

.Secondary img {
    width: 100%;
}

.Incorrect-Usage {
    margin-top: 40px;
    margin-bottom: 40px;

}

.Incorrect-Usage h2 {
    font-size: 24px;
}

.Incorrect {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.con {

    width: 31%;
}

.con img {
    width: 100%;
}

.con p {
    font-size: 18px;

}

.intro-wrapper6 {
    padding: 10px;
}

.colorcha {
    display: flex;
    flex: 1;

}

.color {
    width: 50%;
    padding: 10px;
}

.color2 {
    flex: 1;
}

.color h2 {
    font-size: 48px;
    font-weight: 600;
    align-items: center;
    padding: 60px;

}

.num04 {
    font-size: 48px;
    font-weight: 700;
    color: #d9c58b;
}

.color2 {
    padding: 60px;

}

.color2 p {
    font-size: 22px;
    margin-bottom: 20px;
}

.mau {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px 20px 0px 20px;

}

.mau1 div,
.mau2 div,
.mau3 div,
.mau4 div {
    width: clamp(190px, 10vw, 200px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.mau1 div {
    background-color: orangered;
}

.mau2 div {
    background-color: blue;
}

.mau3 div {
    background-color: rgb(202, 202, 202);
}

.mau4 div {
    background-color: rgb(177, 197, 255);
}

.gradient_palette {
    margin-left: 70px;

}

.box-img04total {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.img_box1 img {
    width: 450px;
}

.typography {
    border-top: 1px solid #c7c5c5;
    padding-top: 60px;
}

.details_05 {
    display: flex;
    position: relative;
}

.details_text05 {
    position: absolute;
    right: 0;
    width: 50%;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    padding: 0 60px 60px 30px;
}

.name-section05 {
    top: 20px;
    position: absolute;
    font-size: 55px;
    font-weight: 300;
    padding: 50px 60px 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.intro-wapp {

    display: flex;
    flex: 1;
}


.Typography {
    width: 50%;
    padding: 10px;
}

.Typography05 {
    flex: 1;
}

.Typography h2 {
    font-size: 48px;
    font-weight: 600;
    align-items: center;
    padding: 60px;

}

.num5 {
    font-size: 48px;
    font-weight: 700;
    color: #d9c58b;
}

.Typography05 {
    padding: 60px;

}

.Typography05 p {
    font-size: 22px;
    margin-bottom: 20px;
}

.Typography05 img {
    width: 100%;
    margin-bottom: 10px;

}

.kame {
    padding-left: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #c3bfbf;

}

.Typeface {
    margin-top: 30px 0px 30px 0px;

}

.Typeface h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.Typeface h1 {
    font-size: 46px;
    font-weight: 700;
    color: #2a2927;
}

.Secondary {
    margin-top: 30px 0px 30px 0px;
}

.Secondary h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.Secondary h1 {
    font-size: 46px;
    font-weight: 700;
    color: #2a2927;
}

.llll {
    display: flex;
    flex: 1;
    padding: 60px;
}

.Sizing {
    flex: 1;
}

.Sizing1 {
    flex: 1;
}

.wrapper {
    padding: 60px;
}

.Clear p {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.1;

}

.Clear {
    margin-bottom: 40px;
}

.meta-line {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    font-size: 12px;
    color: #666666;
    border-bottom: 1px solid #c7c5c5;
    margin-bottom: 20px;

}

.hero {
    height: 400px;
    background: #ffcf71;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    flex: 0 0 220px;
    border-right: 1px solid #9b9a9a;


}

.logo {
    padding: 20px 60px 20px 30px;
    border-bottom: 1px solid #c7c5c5;
}



.intro p {
    font-size: 24px;
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 20px 60px 20px 30px;
}

.sidebar nav {
    margin-top: 10px;
    border-bottom: 1px solid #c7c5c5;
}

.sidebar ul li {
    padding: 4px 0;
}

.intro-wrapper {
    display: flex;

    flex: 1;
}

.sidebar-footer {
    padding: 20px 60px 20px 30px;



}

.sidebar-footer a {
    color: #333;
    text-decoration: none;
    font-size: 16px;


}

.intro,
.intro-continued {
    flex: 1;
    max-width: 50%;
    padding-bottom: 60px;
    border-bottom: 1px solid #c7c5c5;
    padding: 20px;

}

.intro-continued p {
    font-size: 75px;
    padding-bottom: 50px;
}

.intro-wrapper1 {
    display: flex;

    flex: 1;
}

.intro1,
.intro-continued1 {
    flex: 1;
    max-width: 50%;
    padding-bottom: 60px;
    border-bottom: 1px solid #c7c5c5;
    padding: 60px;

}

.intro-continued1 ul {
    font-size: 30px;
    padding-bottom: 50px;
    list-style: none;

}

.mun {
    color: #4a4842;
}

.intro-wrapper2 {
    display: flex;

    flex: 1;
}

.intro2,
.intro-continued2 {
    flex: 1;
    max-width: 50%;
    padding-bottom: 60px;
    border-bottom: 1px solid #c7c5c5;
    padding: 60px;

}

.intro-continued1 ul {
    font-size: 30px;
    padding-bottom: 50px;
    list-style: none;

}

.intro2 h2 {
    font-size: 48px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 12px;
}


.muun1 {
    font-size: 48px;
    font-weight: 700;
    color: #d9c58b;
}


.intro-continued2 p {
    font-size: 22px;
    margin-bottom: 20px;
}

.intro-continued2 img {
    width: 100%;
    border-radius: 6px;
    margin: 30px 0;
}

.intro3 {
    display: flex;
    flex: 1;
}

.intro-wrapper3 {
    border-bottom: 1px solid #c7c5c5;
    padding-bottom: 60px;
}

.khanh,
.quockhanh {
    flex: 1;
    max-width: 50%;
    padding: 60px;

}

.khanh h2 {
    font-size: 48px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 16px;
}

.muun2 {
    font-size: 48px;
    font-weight: 700;
    color: #d9c58b;
}

.intro-wrapper4 {
    display: flex;
    flex: 1;
    padding: 20px;
}

.intro-lead {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
}

.intro-wrapper3 img {
    width: 100%;
    padding: 30px;
    border-radius: 6px;
}

.intro4,
.intro-continued4 {
    flex: 1;
    max-width: 50%;
    border-bottom: 1px solid #c7c5c5;
    padding: 60px;

}

.sample-grid {
    display: flex;
    flex: 1;
}

.intro-continued4 p {
    font-size: 20px;

}

.sample {
    flex: 1;
    max-width: 25%;
    padding-bottom: 60px;
    padding: 60px;
}

.text {
    padding: 20px 60px 10px 60px;
    font-size: 24px;
}

.text2 {
    padding: 20px;
}

.text2 .e {
    font-size: 20px;
    font-weight: 600;
    color: #2a2927;
    margin-bottom: 6px;
}

.sample strong {
    display: block;
    font-size: 20px;
    margin-bottom: 12px;
    color: #2a2927;
}

.sample p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}