@media screen and (max-width: 800px) {
    table {
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .sidebar {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .nav-menu {
        padding: 10px 10px 10px;
        border-top: 1px solid #ccc;
        display: flex;
        justify-content: space-around;
    }

    .sidebar-footer {
        display: flex;
        gap: 15px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .mau1 div,
    .mau2 div,
    .mau3 div,
    .mau4 div {
        width: clamp(100px, 5vw, 150px);
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }

    .gradient_palette {
        width: 100%;
    }
}