:root {
    --backgroundnavbar: #262626;
    --btncontact: #9EFF00;


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background: var(--backgroundnavbar);
}

.navbar-header {
    width: 100%;
    display: flex;
    padding: 10px 60px 10px 60px;
    background-color: var(--backgroundnavbar);
    justify-content: space-between;
    border-bottom: 1px solid #333333;
}

.logo {
    display: flex;
    gap: 4px;
}

.logo img {
    width: 60px;
    height: 60px;
}

.nav-ul {
    display: flex;
    list-style: none;
    gap: 5px;
    align-items: center;
}

.link-nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 12px;
    display: inline-block;

}

.link-nav a:hover {
    background-color: #333333;
    color: white;
    border-radius: 12px;

}

.logo span {
    color: white;
    font-size: 20px;
    font-weight: bold;
    align-self: center;
}

.btn-Contact {
    background-color: var(--btncontact);
    color: #000;
    padding: 10px 28px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 0 60px;
    width: 100%;
    background-color: var(--backgroundnavbar);
}

.img_header {
    position: relative;
    width: 100%;
    height: 220px;
    /* 
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    border-left: 1px solid #333333; */
}

.img_header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    background: var(--backgroundnavbar);

}

.text_header {
    position: absolute;
    right: 26%;
    top: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.Our_header {
    color: white;
    font-size: 40px;
    font-weight: bold;

}

.text_header p {
    display: flex;
    justify-content: center;
    color: rgb(146, 145, 145);
    font-size: 14px;
}

.warip {
    padding: 60px 30px 20px 20px;

    border: 1px solid #333333;

}

.wariper {
    display: flex;
    flex-direction: column;
}

.design h2 {
    font-size: 22px;
    color: aliceblue;
    font-weight: 400;
}

.design p {
    margin-top: 20px;
    padding-right: 210px;
    color: rgb(169, 169, 169);
}

.wariper2 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 8px 14px;
    color: #ffffff;
    background-color: #1f1f1f;
    border: 1px solid #333333;
    border-radius: 8px;
    margin-right: 82%;
}

.wariper3 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 8px 14px;
    color: #ffffff;
    background-color: #1f1f1f;
    border: 1px solid #333333;
    border-radius: 8px;
    margin-right: 74%;
}

.User {
    border: 1px solid #333333;
    padding: 28px 0 30px 28px;
    color: #838383;
    font-size: 24px;
}

.from {
    display: flex;
    flex: 1;
}

.box {
    flex: 1;
    border: 1px solid #333333;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.box img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.boxtext {
    font-size: 18px;
    color: aliceblue;
    font-weight: 400;
    margin-bottom: 10px;
}

.boxtexxt1 {
    font-size: 14px;
    color: aliceblue;
    font-weight: 400;
}

.end1 {
    width: 100%;
    position: relative;
    height: 420px;

}

.lll {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.em {
    width: 70px;
    height: 70px;
}

.prenue {
    position: absolute;
    top: 28%;
    right: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.prenue h2 {
    padding-top: 40px;
    font-size: 28px;
    color: aliceblue;
    font-weight: 400;

}

.prenue p {
    margin-bottom: 36px;
    font-size: 16px;
    color: aliceblue;
    font-weight: 400;
    padding: 0px 174px;
}

.prenue button {
    padding: 10px 12px;
    background-color: #9EFF00;
    color: #030303;
    border-radius: 8px;
}

.end {
    border-top: 1px solid #565656;
    width: 100%;
    padding: 0px 60px 0px 60px;
}

.navbarend {
    padding: 40px 0;
    border-bottom: 1px solid #333333;
    display: flex;
    justify-content: space-between;
}

.Stay_Connected {
    display: flex;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid #333333;
}

.Stay_Connected p {
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    display: flex;
    align-items: center;
}

.tiktok {
    display: flex;
    padding: 5px;
    gap: 4px;
}

.tiktok img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.heheehe {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333333;
    padding: 20px;

}

._icon {
    display: flex;
    gap: 20px;


}

._icon img {
    width: 15px;
    height: 15px;
    object-fit: cover;
}

._icon span {
    color: white;
    font-size: 14px;
    font-weight: 400;

}

.copy111 {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.cuoi {
    background: var(--backgroundnavbar);
    width: 100%;
    margin-top: 150px;
    border-top: 1px solid #333333;
}