* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.formfiead {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    margin: auto;
    padding: 20px;

}

.username,
.address,
.password {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.btn {
    max-width: 120px;
    margin: auto;
    display: flex;
}

label {
    font-size: 14px;
    font-weight: 600;
}

input {
    height: 26px;
    padding: 0 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

input:focus {
    border-color: #4f46e5;
}

.msg1,
.msg2,
.msg3 {
    font-size: 12px;
    color: red;
    display: none;

}

.btn {
    display: flex;
    gap: 10px;
}

.clear {
    padding: 5px 10px;
    background: #e5e7eb;
    border-radius: 8px;
    display: none;
}

.Submit {
    padding: 5px 10px;
    background: #4f46e5;
    color: white;
    border-radius: 8px;
}

.result {
    display: none;
}